* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transition: background 0.5s;
}

img {
  width: 476px;
  height: 640px;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.222);
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrow-btn {
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  border-radius: 64px;
  margin: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.4s;
  &:hover {
    cursor: pointer;
  }
  svg {
    width: 24px;
    fill: white;
  }
}

.slider {
  width: 576px;
  height: 90vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  .slide {
    position: absolute;
    top: 0;
    width: 576px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
    .slide-content {
      position: absolute;
      visibility: hidden;
      transition: transform 0.3s, opacity 1s;
      transform: translateY(2rem);
    }
  }
}

.dots {
  position: absolute;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #ffffff5c;
  opacity: 0.7;
  height: 4px;
  width: 24px;
  border-radius: 4px;
  margin: 0 8px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* box-shadow: 0 0.6rem 1.5rem rgb(0 0 0 / 70%); */
}

.dots__dot--active {
  background-color: #fff;
  opacity: 1;
}
